.logo-default { height: 50px; }

.is-stuck .navbar-brand {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-brand img.logo-default {
    height: 100px;
}

.navbar-brand {
    padding: 12px 0;
}

.mainbar-wrap {
    background-color: white;
}

.main-nav > li.is-active > a {
    color: rgba(0, 0, 0, 0.7);
}

.main-header .social-icon:not([class*=scheme-]) a, .main-nav > li > a {
    color: rgba(0, 0, 0, 0.7);
}

.main-nav > li.is-active > a, .main-nav > li.current-menu-item > a, .main-nav > li:hover > a, .main-nav > li > a:hover {
    color: rgb(3,56,97);;
}

.main-header .social-icon:not([class*=scheme-]) a:hover, .main-nav > li > a:hover {
    color: rgb(3,56,97);;
}

section#home       { padding-top: 50px; }
section#home h2    { line-height: 1; }
section#home a.btn, #section6 input.btn { background-color: rgb(3,56,97); color: rgb(255, 255, 255); }

.accordion-active-color-primary .active .accordion-title a {
    color: #4DA043;
}